In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\Users\Rafael\OneDrive\Python\PythonFundamentos\cap01\data-1588634683015.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-2-6ad08124124d>, line 1)

In [3]:
df = pd.read_csv(data-1588634683015.csv")

SyntaxError: invalid syntax (<ipython-input-3-8dd9cf71024a>, line 1)

In [4]:
df = pd.read_csv("data-1588634683015.csv")

In [5]:
df.head()

  data;turno;hora;seq;operacao;produto;bico;quantidade;deposito;pessoa;documento;tipo_doc;data_doc;tributacao;preco_unit;valor;vendedor;abastecimento;hora_abastec;usuario;estacao;empresa;mlid;grid;conta;nr_item;produto_kit;produto_kit_id;encerrante;valor_desconto;preco_unit_orig;orcamento_produto;ponto;cupom_produto;medicao_sugerida;comanda;comanda_produto;departamento;mesa_produto;tipo_desconto;obs;preco_unit_venda;motivo_inventario;abastecimento_manual;preco_unit_base;preco_unit_prazo;preco_unit_bico;dia_fiscal;cst_pis;cst_cofins;natureza_receita;preco_unit_fiscal;numero_pedido;numero_item_pedido;relevante
0  30/06/2012;99;03/07/2012 16:09;7;M;10333;;6119...
1  09/09/2012;1;09/09/2012 07:44;26;V;17179876382...
2  04/07/2012;2;04/07/2012 13:22;40;V;10333;6;21....
3  04/07/2012;3;04/07/2012 23:25;203;V;10333;18;1...
4  05/07/2012;3;05/07/2012 22:27;218;V;10333;15;4...